---
import Layout from '../layouts/Layout.astro';
import Loading from '../components/loading.astro';
let isLoading = true;

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<canvas id="bg"></canvas>

	<div id="panellum-overlay" 
		style="width:100%; height:100vh; display:none; position:fixed; top:0; left:0; 
				z-index:9999; background:black;">
		
		<button id="close-pano" 
				style="position:absolute; top:20px; right:20px; z-index:10000;">
			Cerrar
		</button>

		<div id="panellum-container" style="width:100%; height:100%;"></div>
	</div>

	<Loading isLoading={isLoading} />
	<div class="planos" id="planosBtn">
		<button id="closePlanos" class="close-planos">Cerrar</button>
		<img src='/images/image.webp' alt="">
		<div class="datos">
				<li><span>1</span> Habitación</li>
				<li><span>2</span> Baños</li>
				<li>Sala</li>
				<li>Comedor</li>
				<li>Área de lavado</li>
				<li>Parqueo</li>
		</div>
		<div class="contact">
			<h2>Contacto</h2>
			<div class="contact_data">
				<a href="https://www.portiersrl.com/" target="_blank">Website</a>
				<a href="mailto:gerencia@portiersrl.com" target="_blank">Enviar correo</a>
				<a href="https://maps.app.goo.gl/FnYnNvsQGrtAZJP5A" target="_blank">Avenida San Vicente de Paul No.208, <br>Plaza Bonaire 3er Piso, <br>Santo Domingo Este 11509</a>
			</div>
		</div>
	</div>
</Layout>

<script src="../scripts/exterior.js"></script>
<script>
  window.addEventListener("hriv-loaded", () => {
    console.log("Evento recibido en Astro");
    document.querySelector('.loading-container')?.classList.add('hidden');
  });

</script>
