---
---

<nav>
    <img src="/logos/hriv.svg" class="hriv-logo" alt="">
    <button id="togglePlanos">Información</button>
</nav>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const planos = document.getElementById("planosBtn")!;
        const toggleBtn = document.getElementById("togglePlanos")!;
        const closeBtn = document.getElementById("closePlanos")!;

        // Alternar desde el botón del navbar
        toggleBtn.addEventListener("click", () => {
            planos.classList.toggle("open");
        });

        // Cerrar desde el botón interno
        if (closeBtn) {
            closeBtn.addEventListener("click", () => {
                planos.classList.remove("open");
            });
        }
    });
</script>

