@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

a, button{
    text-decoration: none;
    padding: 1rem 1.25rem;
    color: #000;
    background-color: #ffffff;
    border-radius: .5rem;
    font-size: 1rem;
    border: 1px #fff;
    transition: .1s;
    cursor: pointer;
    white-space: nowrap;
}

a:hover, button:hover{
    scale: 1.1;
}

a:active, button:active{
    scale: 0.9;
}

canvas{
    position: fixed;
    top: 0;
    left: 0;
}

nav{
    display: flex;
    padding: 1rem 2rem;
    background-color: #fff;
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    gap: 2rem;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5); /* bg-white/80 */
    border-radius: 1rem; /* rounded-lg = 8px */
    backdrop-filter: blur(4px); /* backdrop-blur-sm */
    transition: .5s ease-in-out;
}

.planos{
    position: fixed;
    display: flex;
    width: 30vw;
    height: 100svh;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    right: 0;
    transform: translateX(50vw);
    transition: .5s ease-in-out;
}

.open{
    transform: translateX(0vw);
}