---
import "../style.css";
import Navbar from "../components/navbar.astro"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/harmony.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Harmony Residences IV</title>

		<meta property="og:title" content="Harmony Residences IV" />
		<meta property="og:description" content="Descubre un desarrollo moderno con amenidades de lujo y espacios diseñados para tu comodidad." />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="/images/image.webp" />

		<script src="https://cdn.jsdelivr.net/npm/pannellum@2.5.6/build/pannellum.js"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pannellum@2.5.6/build/pannellum.css">
	</head>
	<body>
		<slot />
		<img src='/logos/portier.svg' class="portier-logo" alt="">
		<Navbar>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>

